* {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #202124;
}

img {
  height: auto;
  width: 400px;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 30px;
}

p,
li {
  font-size: 18px;
  margin-bottom: 3px;
}
